main {
  border: 10px solid;
  background-color: #f5f5ef;
  padding: 15px;
}
.app-table_header {
  color: #fff;
  background-color: #ff6600;
  font-size: 0.75rem;
  text-align: left;
}
.app-table {
  font-size: 0.875rem;
  width: 100%;
  color: #252525;
  font-weight: 500;
}

.app-table__detail_row {
  font-size: 0.625rem;
}

.app-table__detail_row--title {
  font-size: 0.875rem;
}

.app-table__detail_row--link {
  text-decoration: none;
  color: #757575;
}
.app-table__detail_row--link:hover {
  text-decoration: underline;
}

.app-table__detail_row--by {
  color: #b7b7b7;
}
.app-table__detail_row--author {
  color: #252525;
}
.app-table__detail_row--time {
  color: #757575;
}
.app-table__detail_row--hide {
  color: #757575;
}

.app-table__row--even {
  background-color: #e4e4e0;
}

.hide-button {
  font-size: 0.625rem;
  border: none;
}

.up-vote-button {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #989898;
  top: -7px;
  position: relative;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:disabled {
  color: #9c9c9c;
}

nav {
  color: #ff6600;
  text-align: right;
  font-weight: bold;
  padding: 5px;
}

nav button {
  color: #ff6600;
  font-weight: bold;
}
.nav-link {
  color: #ff6600;
  text-decoration: none;
}

.horizontal-divider {
  width: 100%;
  background-color: #ff6600;
  height: 3px;
}